node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

tmp


# Testing
/src/routes/performance-test
/src/routes/api/test-new-method
/src/routes/api/test-old-method
/src/routes/seed
/src/lib/utils/seed.ts
/src/lib/utils/seed-example.ts
